{% extends 'polls/base.html' %}

{% block content %}
<section>
        <div class="container-xxl">
            <div class="row align align-items-center">
                <div class="col-7">
                    <h1>Регистрация прошла успешно! Войдите в аккаунт по ссылке: </h1>
                </div>
                <div class="col-5">
                    <img class="w-100" style="max-width: 100%;"
                         src="https://c.tenor.com/RL5ROk4bVNgAAAAM/billy-herrington-smoke.gif" alt="Billy">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}